* {
    background-color: aliceblue;
}

.nav-bar {
    font-size: larger;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

#footer{
    font-size: 200%;
    float: left;
    margin-top: 20%;

}

table {
    border: 2px solid black;
}